# vim/emacs editor files
*~

# pkg-config files?
.pc

# Visual Studio files
*.csproj.user
*.idc
*.ncb
*.suo
*.vcproj.*.user

# Build artifacts
*.o
*.d
common.a
ags

# Data written during execution
/Solutions/Engine.App/allegro.log
/Solutions/Engine.App/test.ini

# Platform-specific build artifacts
/Editor/AGS.CScript.Compiler/bin
/Editor/AGS.CScript.Compiler/obj
/Editor/AGS.Controls/bin
/Editor/AGS.Controls/obj
/Editor/AGS.Editor/bin
/Editor/AGS.Editor/obj
/Editor/AGS.Native/Debug
/Editor/AGS.Native/Release
/Editor/AGS.Types/bin
/Editor/AGS.Types/obj
/Editor/References/AGS.Native.dll
/Editor/UpdateCPPVersion/bin
/Editor/UpdateCPPVersion/obj
/Engine/acwin___Win32_DebugWorking
/Engine/resource/version.aps
/Solutions/.build/
/Solutions/.lib/
/Solutions/Common.Lib/Debug/
/Solutions/Common.Lib/Debug_MD/
/Solutions/Common.Lib/Release
/Solutions/Common.Lib/Release_MD/
/Solutions/Common.Lib/Release_NoMP3
/Solutions/Compiler.Lib/Debug
/Solutions/Compiler.Lib/Debug_MD/
/Solutions/Compiler.Lib/Release
/Solutions/Compiler.Lib/Release_MD/
/Solutions/Engine.App/Debug/
/Solutions/Engine.App/Release
/Solutions/Engine.App/Release_NoMP3

/Android/launcher_list/.classpath
/Android/launcher_list/.settings/
/Android/launcher_list/bin/
/Android/launcher_list/gen/
/Android/launcher_list/local.properties
/Android/library/.settings/
/Android/library/bin/
/Android/library/gen/
/Android/library/libs/
/Android/library/obj/
/Android/library/local.properties
/Android/library/.classpath
/Android/nativelibs

/iOS/nativelibs/armv6
/iOS/nativelibs/armv7
/iOS/nativelibs/armv7s
/iOS/nativelibs/arm64
/iOS/nativelibs/i386
/iOS/nativelibs/x86_64

/Manual/*.htm
/Manual/*.con
/Manual/ags.ref
/Manual/ags.chm
/Manual/ags.chw
/Manual/ags.hhc
/Manual/ags.hhk
/Manual/ags.hhp
/Manual/ags.htx
